[Bb]in
[Oo]bj
[Pp]ackages/
_ReSharper.*
*.dotCover
*.DotSettings
*.user
*.suo
*.bak
*_* 201*-*
*.vssscc
*.sln.cache
*.vspscc
*.build.*
*.orig
*~
release/
packages/
.sass-cache/
.DS_Store
.Trashes
*.trx
publish/
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*.errorList.txt
*.results.txt
errorList.txt
res.txt
TestResults/
*.dbmdl
.merge_file_*
.vs
/build
*.jfm